{% extends 'base.html.twig' %}

{% block title %}Login - SymfoPop{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-0 mt-5">
                <div class="card-body p-5">
                    <h1 class="h3 mb-4 fw-normal text-center">Inicia Sessió</h1>

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contrasenya</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="mb-3 form-check">
                            <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe" checked>
                            <label class="form-check-label" for="rememberMe">Recorda'm</label>
                        </div>

                        <button class="btn btn-primary w-100 py-2 fs-5" type="submit">
                            Entrar
                        </button>

                        <div class="mt-4 text-center">
                            <p class="text-muted">No tens compte? <a href="{{ path('app_register') }}">Registra't</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
